@import 'tailwindcss/base';

:root {
  --color-bg-inverse: #fff;
  --color-text-inverse: #141d26;

  --font-display: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-body: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  --font-weight-normal: 400;
  --font-weight-display: 400;
  --font-weight-btn: 600;

  --rounded-btn: 0.25rem;
}

/** purgecss start ignore */
.theme-dark {
  --color-bg-inverse: #141d26;
  --color-text-inverse: #fff;

  --font-display: Georgia, Times, 'Times New Roman', serif;
  --font-body: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
    'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana,
    'Verdana Ref', sans-serif;

  --rounded-btn: 0;
}
/** purgecss end ignore */

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
